@font-face {
    font-family: 'HelveticaExtBd';
    src: url('../fonts/HelveticaNowforMonks-ExtXBd.ttf')
  }

@font-face {
    font-family: 'HelveticaTextMd';
    src: url('../fonts/HelveticaNowforMonks-TextMd.ttf')
}

.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: inherit;
    overflow-y: auto;
    flex-direction: row;
}

.section {
    width: 100%;
    margin: auto;
    height: 1080px;
    display: block;
}

.adviceText {
    font-size: 40px;
    text-align: left;
    max-width: 1200px;
    font-family: 'HelveticaTextMd';
    line-height: 1.2;
}

.text {
    font-size: 104px;
    text-align: left;
    max-width: 1350px;
    font-family: 'HelveticaExtBd';
    line-height: 1.0;
}

.vector {
    height: 11;
    width: 255;
    padding-bottom: 60px;
    padding-left: 65px;
}